@import url(https://fonts.googleapis.com/css?family=Gilda+Display|Share:400,700|Ubuntu:400,500|family=Source+Sans+Pro&display=swap);
/* Decent Defaults */
:root {
  --dark-blue: #0d1b2a;
  --white: #e0e0e0;
  --light-grey: #80868b;
  --light-blue: #b0d7ff;
  --yellow: #e2d4b7;
  --orange: #fa8d0c;
}
.hide-desktop {
  display: none;
}
img,
video {
  width: 100%;
  height: auto;
}
header {
  background-color: var(--dark-blue);
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.85)),
    url("./../img/hero.jpeg");
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}
header.about-header {
  background: var(--dark-blue);
  height: 100vh;
}

body {
  margin: 0;
  display: grid;
}
h1 {
  font: Bold 3rem "Unbutu";
}
p {
  font: 1.25rem/1.875rem "Unbutu", sans-serif;
}
nav {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  position: fixed;
  background-color: black;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
}

.transparent-nav {
  background-color: transparent !important;
  box-shadow: none !important;
}
.transparent-nav a {
  color: white !important;
}
nav ul {
  display: flex;
  gap: 1.5rem;
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

nav ul li a {
  color: white;
  text-decoration: none;
  font: 1rem/1.5rem "Unbutu", sans-serif;
}
nav.nav-dark {
  background-color: white;
  color: black;
}
nav.nav-dark ul li a {
  color: black;
}
.navbar-img {
  max-width: 15rem;
  margin: 1rem;
  padding-left: 1rem;
}

header section.hero-header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
header section.hero-header .hero-content {
  padding: 2rem;
  max-width: 40rem;
}

header section.hero-header .hero-content h1 {
  color: var(--light-blue);
  width: 30rem;
  margin-bottom: 2rem;
}
header section.hero-header .hero-content p {
  margin-bottom: 3rem;
}
header section.hero-header i {
  position: absolute;
  top: 95vh;
  transform: translateY(-100%);
  width: 100%;
  text-align: center;
}
.line-x {
  height: 0.5rem;
  width: 4rem;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  background-color: white;
}
header section.hero-header .hero-content a.read-btn {
  background: var(--yellow);
  color: var(--dark-blue);
  text-decoration: none;
  padding: 0.75rem 1.25rem;
  border-radius: 0.5rem;
  font: 1.15rem/1.75rem "Unbutu", sans-serif;
}

@-webkit-keyframes bobble {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}

@keyframes bobble {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-1rem);
  }
}
#down-indicator {
  position: absolute;
  bottom: 2rem;
  animation: bobble 1s infinite alternate;
  cursor: pointer;
  font-size: 1.5rem;
}

/*cards section*/
.related h1.title {
  padding-left: 1rem;
  margin-bottom: 1rem;
}
.related img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #000;
  padding: 0.8rem;
  font-size: 1rem;
  text-transform: uppercase;
  border-radius: 0.25rem;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  text-align: right;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards-item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards-item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards-item {
    width: 33.3333%;
  }
}

.related {
  max-width: 65rem;
  margin: 0 auto;
  padding: 2rem;
}
.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 1.5rem 3rem -1rem rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content {
  padding: 1rem;
  background: white;
}

.card-title {
  color: #000;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0;
}

/*code pen*/
.faq {
  background: var(--dark-blue);
  color: var(--white);
  padding: 2rem 0;
}
.title {
  text-align: center;
  font: 2.75rem "Source Sans Pro", sans-serif;
}

.acc-container {
  padding: 2rem;
  max-width: 65rem;
  margin: 0 auto;
}
.acc-container h1 {
  color: white;
}
.acc-btn {
  width: 100%;
  padding: 1.6rem 2rem;
  font: 1.25rem/1.875rem "Source Sans Pro", sans-serif;
  cursor: pointer;
  background: inherit;
  border: none;
  outline: none;
  text-align: left;
  transition: all 0.2s linear;
  color: var(--white);
}
.acc-btn:after {
  content: "\2303";
  color: var(--orange);
  float: right;
  transition: all 0.3s linear;
  transform: rotate(180deg);
}
.acc-btn.is-open:after {
  transform: rotate(0deg);
}
.acc-btn:hover,
.acc-btn.is-open {
  color: var(--white);
  font-weight: bold;
}

.acc-content {
  max-height: 0;
  font: 1rem/1.5rem "Source Sans Pro", sans-serif;
  margin: 0 2rem;
  padding-left: 1rem;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  border-bottom: 1px solid #ccc;
}
.acc-content p {
  margin-bottom: 1rem;
  color: var(--light-grey);
}

/*footer*/
.footer {
  position: relative;
  width: 100%;
  background: #fff;
  min-height: 6.25rem;
  padding: 1.5rem 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.social-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.social-icon-item {
  list-style: none;
}

.social-icon-link {
  font-size: 2rem;
  color: #000;
  margin: 0 1rem;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
}
.social-icon-link:hover {
  transform: translateY(-0.8rem);
}

.menu__link {
  font-size: 1.2rem;
  color: #000;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #000;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

/*about*/
#about main.main-container {
  background: white;
}
main.main-container article {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-blue);
}
#about .line-x {
  background-color: var(--yellow);
}
main.main-container article.iframe {
  padding: 3rem;
  max-width: 75rem;
  margin: 0 auto;
  flex-direction: row-reverse;
}
@media screen and (max-width: 61.9375rem) {
  main.main-container article.iframe {
    flex-direction: column-reverse;
  }
}
main.main-container article.sources {
  background: white;
  padding: 3rem;
  margin: 0 auto;
  flex-direction: column;
}
main.main-container article.sources .container {
  max-width: 70rem;
}
main.main-container article.iframe section {
  flex: 1;
  margin: 1rem;
}
main.main-container article.iframe iframe {
  flex: 1;
  margin: 1rem;
}
main.main-container article.iframe h1 {
  margin: 1.5rem 0;
  text-align: left;
}
main.main-container hr {
  background: white;
}
header.about-header h1 {
  margin: 1rem 0 !important;
}
.about-header-content {
  display: flex;
}
.left-half {
  background-color: var(--dark-blue);
  margin: 5rem;
  color: #fff;
  flex: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 4rem;
}

.right-half {
  background-image: url("./../img/hawaii1.jpeg");
  background-position: left;
  background-size: cover;
  background-repeat: no-repeat;
  flex: 1;
  padding: 1rem;
  height: 100vh;
}
@media screen and (max-width: 61.9375rem) {
  .about-header-content {
    flex-direction: column-reverse;
    height: 100vh;
  }
  main.main-container article.iframe iframe {
    flex: unset;
  }
  .right-half {
    flex: unset;
    height: 60vh;
  }
  .left-half {
    flex: unset;
    margin: 0 auto;
    padding: 4rem;
  }
  .hide-mobile {
    display: none;
  }
  .hide-desktop {
    display: block;
  }
  nav {
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
  }
  nav i {
    font-size: 2.5rem;
    transition: all 300ms ease-in-out;
  }
  nav ul {
    flex-direction: column;
  }
  .navbar-img {
    padding: 0;
    margin: 0;
  }

  .hamburger-menu {
    right: 1.5625rem;
    width: 2.1875rem;
    height: 1.875rem;
    position: absolute;
    z-index: 1;
    cursor: pointer;
  }

  .hamburger-menu span {
    display: block;
    position: absolute;
    margin: 0.1rem;
    height: 0.15rem;
    width: 100%;
    background: black;
    border-radius: 0.8rem;
    transition: 0.5s all ease-in-out;
  }
  .hero .hamburger-menu span {
    background-color: white;
  }
  .hamburger-menu :nth-child(1) {
    top: 0rem;
    transform-origin: left center;
  }

  .hamburger-menu :nth-child(2) {
    top: 0.625rem;
    transform-origin: left center;
  }

  .hamburger-menu :nth-child(3) {
    top: 1.25rem;
    transform-origin: left center;
  }

  .hamburger-menu.open :nth-child(1) {
    top: 0.0625rem;
    transform: rotate(45deg);
    background: #fff;
  }

  .hamburger-menu.open :nth-child(2) {
    top: 0.9375rem;
    opacity: 0;
  }

  .hamburger-menu.open :nth-child(3) {
    top: 1.5625rem;
    transform: rotate(-45deg);
    background: #fff;
  }

  .overlay {
    position: fixed;
    height: 100%;
    width: 0;
    overflow-x: hidden;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.75);
    color: white;
    backdrop-filter: blur(0.5rem);
    transition: all 0.5s ease;
  }

  .overlay.open {
    width: 100%;
  }

  .overlay-content {
    position: relative;
    top: 50vh;
    transform: translateY(-50%);
    text-align: center;
  }

  .overlay a {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin: 1rem;
    color: #fff !important;
    text-decoration: none;
    display: block;
    transition: color 0.3s ease 0.3s;
  }
}

/*article*/
header.article-header {
  background-image: url("./../img/article-header.jpeg");
  background-size: cover;
  background-position: top;
  height: 40vh;
  max-height: 30rem;
}

article.article-container {
  max-width: 40rem;
  margin: 0 auto;
  padding: 1rem;
}
article.article-container h1 {
  margin: 1rem auto;
}

article.article-container p {
  font-family: "Unbutu";
}

article.article-container address {
  margin-top: 1rem;
}

article.article-container p.article-summary {
  margin: 1.25rem auto;
}
article.article-container .article-content p {
  margin-bottom: 0.25rem;
}
article.article-container .article-content .disclosure p {
  margin-bottom: 1rem;
}
article.article-container .article-content figure {
  margin: 1rem auto;
}
article.article-container .article-content figure figcaption {
  margin-top: 0.5rem;
  font-family: "Unbutu";
}

/* icons */
.icon-bar {
  display: none;
}
@media screen and (min-width: 62rem) {
  .icon-bar {
    display: none;
    position: fixed;
    top: 60%;
    -webkit-transform: translateY(-60%);
    -ms-transform: translateY(-60%);
    transform: translateY(-60%);
    padding-left: 1rem;
  }
}
.unhide {
  display: block;
}
.icon-bar a {
  display: block;
  text-align: center;
  padding: 0.5rem;
  transition: all 0.5s ease;
  color: black;
  font-size: 1rem;
  border-radius: 50%;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.25rem;
}

.icon-bar a:hover {
  background-color: #000;
  color: white;
}
.facebook,
.twitter,
.google,
.linkedin,
.youtube {
  background: white;
  border: 0.0625rem var(--light-grey) solid;
}
ul.social-toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 1rem auto;
  padding: 0;
  height: auto;
  width: auto;
}
ul.social-set li {
  display: flex;
  align-items: center;
}
/* Font Awesome icons */
a.sociali {
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 0.5rem;
  background: #fff;
  color: #000;
  border: 0.0625rem var(--light-grey) solid;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 50%;
}
a.sociali:hover,
a.sociali:focus {
  color: #fff;
  background-color: #000;
}
